<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<select id="selectByp_Id" resultType="OrderItemDTO">
		select p_id, p_Name, p_Price
		from product_TB where p_id = #{p_id}
	</select>
	
	<select id="selectBym_Id" resultType="MemberDTO">
		SELECT m_Id, M_name, email, address, detail_address, zipcode
  		FROM member_TB 
  		WHERE m_Id = #{m_Id}
	</select>
	
	<insert id="insertOrder">
		insert into order_TB(o_Id, m_Name, m_Id, o_address, o_detail_address, o_Zipcode, o_state, o_delivery_charge)
    	values(ordet_SQ.NEXTVAL, #{m_Name}, #{m_Id}, #{o_address}, #{o_detail_address}, #{o_Zipcode}, '배송준비', #{o_delivery_charge})
	</insert>
	
	<insert id="insertOrderItem">
		<selectKey resultType="int" keyProperty="o_Id" order="BEFORE">
  			SELECT ordet_SQ.CURRVAL FROM DUAL
  		</selectKey>  
		insert into order_item_TB
		values(ordet_item_SQ.NEXTVAL, #{o_Id}, #{p_Id}, #{p_Cnt}, #{p_Price})
	</insert>
	
	<!-- 주문 목록 -->
	<!-- 관리자 페이지 -->
	<select id="selectOrderList" resultType="OrderDTO">
		<![CDATA[
			select * 
			from(
			    select rownum rn, o.o_Id, o.m_Id, p.p_Name, o.o_state, o.o_Date
			    from order_TB o
			    JOIN order_item_TB oi
                    on o.o_Id = oi.o_Id
                    JOIN product_TB p
                    on oi.p_id = p.p_Id
			    where rownum <= #{pageNum} * #{amount} 
		]]>    
		<if test="keyword != null">
			and o.m_Id like '%'||#{keyword}||'%'
		</if>
		<![CDATA[
			    order by o.o_Date desc
			    )
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<!-- 사용자 페이지 -->
	<select id="selectOrderListByM_Id" resultType="OrderDTO">
		<![CDATA[
			select * 
			from(
			    select rownum rn, o.o_Id, p.p_Name, o.o_state, o.o_Date
			    from order_TB o
			    JOIN order_item_TB oi
                    on o.o_Id = oi.o_Id
                    JOIN product_TB p
                    on oi.p_id = p.p_Id
				where o.m_Id = 'user01' and rownum <= 1 * 10 
		]]>    
		<if test="keyword != null">
			and p.p_Name like '%'||#{keyword}||'%'
		</if>
		<![CDATA[
		    order by o.o_Date desc
		    )
		where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
		select count(*) from order_TB
	    <if test="keyword != null">
	    	where m_Id like '%'||#{keyword}||'%'
	    </if>
	</select>
</mapper>