<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- criteria(검색조건) -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="AND">
			<foreach item="type" collection="typeArr">
				<trim prefix="AND">
					<choose>
						<when test="type == 'C'.toString()">
							p_Category like #{c_Code} || '%'
						</when>
						<when test="type == 'T'.toString()">
							p_Name like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<insert id="insert" parameterType="productDTO">
		<selectKey resultType="int" keyProperty="p_Id" order="AFTER">
  			SELECT product_SQ.CURRVAL FROM DUAL
  		</selectKey>  
		<![CDATA[
			insert into product_TB
			values(product_SQ.NEXTVAL, #{p_Name }, #{p_Price }, #{p_Stock }, #{p_Category }, sysdate, #{p_Intro }, 0.0)
		]]>
	</insert>

	<select id="selectProductList" resultType="productDTO">
	  	<![CDATA[
			select * from (
				select /*+INDEX_DESC(product_TB P_index)*/ rownum as rn, p_Id, p_Name, p_RatingAvg,
					(select c_Name from category_TB where product_TB.p_Category = category_TB.C_Code) 
				c_Name, p_Category, p_Stock, p_Date, p_Price
			from product_TB 
			where 
		]]>
		<include refid="criteria"></include>
		<![CDATA[    
		    	rownum <= #{pageNum} * #{amount} 
		    )
			where rn > (#{pageNum} - 1) * #{amount}		  	
  		]]>
	</select>

	<select id="selectCategoryListSortCode" resultType="categoryDTO">
	  	<![CDATA[
	  		select * from category_TB order by C_Code
	  	]]>
	</select>

	<select id="getTotal" resultType="int">
		<![CDATA[  
			select count(*) from product_TB
			where 
		]]>
		<include refid="criteria"></include> 
		1=1
	</select>

	<select id="selectInnerCategory" resultType="categoryDTO">
	  	<![CDATA[
	  		select * from category_TB where c_Code > 10 and c_Code < 20
	  	]]>
	</select>

	<select id="selectPantsCategory" resultType="categoryDTO">
	  	<![CDATA[
	  		select * from category_TB where c_Code > 20 and c_Code < 30
	  	]]>
	</select>

	<select id="selectOuterCategory" resultType="categoryDTO">
	  	<![CDATA[
	  		select * from category_TB where c_Code > 30 and c_Code < 40
	  	]]>
	</select>
	
	<!-- 상품 정보 -->
	<select id="selectProductInfo" parameterType="Integer" resultType="productDTO">
			select p.p_Id, p.p_Name, p.p_Price, p.p_Stock, c.c_Name, p.p_Intro, p.p_RatingAvg, p.p_Date
			from product_TB p left outer join category_TB c on p.p_Category = c.c_Code
			where p.p_Id = #{p.p_Id}	
	</select>
	
	<!-- 이미지 등록 -->
	<insert id="insertImage">
		insert into product_image_TB
		values (#{p_Id}, #{fileName}, #{filePath}, #{uuid})
	</insert>
	
		<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="selectImage" resultType="AttachImageDTO">
		select * from product_image_TB where p_Id = #{p_Id}
	</select>
	
	<update id="updateProductStock">
		update product_TB set p_Stock = #{p_Stock} where p_Id = #{p_Id}
	</update>
	
	<!-- 평점순 상품 -->
	<select id="selectProductListOrderByRating" resultType="productDTO">
		<![CDATA[
			select * from
		  		(select rownum as rn, p_Id, p_Name, p_Price, p_RatingAvg, (select c_Name from category_TB where product_TB.p_Category = category_TB.C_Code) 
				from product_TB
				order by p_RatingAvg desc NULLS LAST)
			where rn < 9
		]]>
	</select>
</mapper>